/* .invalid {
  border: 1px solid red !important;
} */

/* .horizontal:hover{
  border: 1px solid  rgb(13, 145, 24) !important;
} */

.Stackname {
  margin-left: 241px;
  padding: 27px
}
.PrimButton {
  max-width: 100px;
  margin: 24px -7px;
}
.StartChoiceGroup {
  display: flex;}
.PrimButton:hover {
  color: #1b4b85;
  background-color: #9a9a9a;
}
.Reloadbutton {
  margin: -30px 0 0 111px;}
